[tool.basedpyright]
reportExplicitAny = false
reportAny = false
reportUnusedCallResult = false
reportCallInDefaultInitializer = false
reportImportCycles = false


analysis.diagnosticMode = "workspace"
# stubPath = "typings"
